    <section class="banner-path">
        <div class="container">
            <div class="banner-path__inner">
                <div class="banner-path__inner-link">
                    Auth  /  
                    <span>Login</span> 
                </div>
                <div class="banner-path__inner-name">
                    Авторизация
                </div>
            </div>
        </div>
    </section>

    <section class="preform">
        <div class="container">
            <div class="preform__inner">
                <div class="preform__form">
                    <div class="preform__form-header">
                        <div class="preform__form-title">Войти в WhyTalk</div>
                        <div class="preform__form-subtitle">Для авторизации необходимо ввести данные</div>   
                    </div>
                    <form action="/auth/login" method="POST">
                        {{#if error}}
                            <div class="preform__form-error">{{error}}</div>
                        {{/if}}
                        <div class="preform__form-input-name">
                            <label for="email">Адрес эл.почты</label>
                        </div>
                        <div class="preform__form-input">
                            <input id="email" name="email" type="email" placeholder="Введите e-mail..." required>
                        </div>
                        <div class="preform__form-input-name">
                            <label for="password">Пароль</label>
                        </div>
                        <div class="preform__form-input">
                            <input id="password" name="password" type="password" placeholder="Введите пароль..." required>
                        </div>
                        <div class="preform__form-input">
                            <input type="checkbox"><span>Запомнить меня</span>
                        </div>
                        <input type="hidden" name="_csrf" value={{csrf}}>
                        <button type="submit">Войти</button>
                    </form>
                    <div class="preform__form-help">
                        <div class="preform__form-recovery">
                            Забыли <a href="#">пароль?</a> 
                        </div>
                        <div class="preform__form-register">
                            Ещё нет <a href="#">аккаунта?</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
