<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__item">
                    <div class="footer__item-title">
                        <div class="footer__logo">
                            <a href="/">
                                <img src="/images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="footer__item-text">
                        Nunc placerat mi id nisi interdum they mollis. 
                        Praesent pharetra, justo ut scel erisque the 
                        mattis, leo quam.
                    </div>
                    <div class="footer__item-address">
                        <ul>
                            <li class="address-email">support@whytalk.com</li>
                            <li class="address-location">Kazakhstan, Kostanay</li>
                        </ul>
                    </div>    
                </div>

                <div class="footer__item">
                    <div class="footer__item-title">
                        Мы в социальных сетях
                    </div>
                    <div class="footer__item-social">
                        <ul>
                            <li><a href="#"><img src="/images/social/vk.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/social/youtube.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/social/telegram.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/social/whatsapp.png" alt=""></a></li>
                        </ul>
                    </div>    
                </div>
                
                <div class="footer__item">
                    <div class="footer__item-title">
                        Политика
                    </div>
                    <div class="footer__item-politics">
                        <ul>
                            <li><a href="#">Условия использования</a></li>
                            <li><a href="#">Конфеденциальность</a></li>
                            <li><a href="#">Правила</a></li>
                        </ul>
                    </div>    
                </div>

            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-text">
                &copy;2021 WhyTalk. Все права защищены. Created by Malets Alexandr
            </div>    
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>    
<script src="/js/libs.min.js"></script>
<script src="/js/main.js"></script>