<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="#">
                    <img src="/images/logo.png" alt="">
                </a>
            </div>
            <div class="header__burger-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="header__box">
                <a class="header__btn header__btn-tariff" href="#">Тарифные планы</a>
                <a class="header__btn header__btn-login" href="#">Вход</a>
                <a class="header__btn header__btn-register" href="#">Регистрация</a>
            </div>
            <div class="header__box header__user">
                <a class="header__btn header__btn-tariff" href="#">Тарифные планы</a>
                <div class="header__box-column">
                    <a class="user" href="#">
                        <div class="user__inner">
                            <div class="user__images">
                                <img src="/images/user-photo.jpg" alt="">
                            </div>
                            <div class="user__name">
                                Alexandr Malets
                            </div>
                        </div>
                    </a>
                    <a class="header__btn header__btn-logout" href="#">Выход</a>
                </div>
            </div>            
        </div>
    </div>
</header>