@import 'fonts';
@import 'vars';
@import 'global';

// Start header

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__menu{
    margin-left: auto;
    margin-right: 90px;   
}
.header__box{
    display: flex;
    align-items: center;
}
.header__btn{
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #fff;
}
.header__btn-tariff{
    border-radius: 24px;
    width: 150px;
    background-color: #dbc50f;
}
.header__btn-login{
    width: 72px;
    background-color: #8bc34a;
    margin-left: 85px;
}
.header__btn-register{
    width: 100px;
    background-color: #e74c3c;
    margin-left: 12px;
}
.header__btn-logout{
    width: 72px;
    background-color: #e74c3c;
    margin-left: 30px;
}
.user{
    width: 170px;
    margin-left: 75px;
    transition: all 0.4s;
    &__inner{
        display: flex;
        padding-top: 10px;
        padding-right: 10px;
    }
    &__images img{
        margin: 0px 15px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__name{
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: #222222;
    }
    &:hover{
        background-color: #fcfbfb;
    }
}

// End header

//Section welcome
.welcome{
    background-color: $bg;
    min-height: 570px;
}
.welcome-bg{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.welcome__inner{
    padding: 170px 0px 100px;
    color:#fff;
    text-align: center;
    &-title{
        font-size: 72px;
        line-height: 72px;
        font-weight: 700;
        margin-bottom: 45px;
    }
    &-subtitle{
        font-size: 36px;
        margin-bottom: 90px;
        font-weight: 500;
        line-height: 54px;
    }
    &-btn{
        margin: 0 auto;
        max-width: 375px;
        border-radius: 30px;
        background-color: #12d12a;
        a{        
            width: 100%; 
            color:#fff;
            font-size: 20px;
            line-height: 24px;
            font-weight: 500; 
            padding: 18px 0px; 
        }
        &:hover{
            background-color: #39df4f;
        }
    }
}
//End welcome

//Section features

.features__inner{
    padding: 115px 0px 110px;
    display: flex;
    justify-content: space-between;
}
.features__item{
    max-width: 370px;
    min-height: 400px;
    text-align: center;
    padding: 0px 30px;
    &:hover{
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }      
    &-img{
        margin: 40px auto 25px;
        width: 150px;
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &-talk{
            background-image: url(../images/feature-talk.png);
        }
        &-business{
            background-image: url(../images/feature-business.png);
        }
        &-webinar{
            background-image: url(../images/feature-webinar.png);
        }
    }
    &-title{
        font-size: 24px;
        font-weight: 700;
        color: #000;
        margin-bottom: 30px;
    }
    &-text{
        margin-bottom: 40px;
    }
}

//End features

//Start talking-section
.talking{
    background-color: #f4f6f5;
}
.talking__inner{
    padding: 10px 0px 70px;
    display: flex;
    justify-content: space-around;
    &-box{
        margin-top: 70px;
        max-width: 330px;
    }
    &-title{
        color: #000;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    &-img{
        margin-left: 30px;
        max-width: 600px;
        img{
            width: 100%;
        }
    }
}

//End talking-section

//Start Footer

.footer__top{
    padding: 60px 0px 120px;
    background-color: #262b30;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__item{
    max-width: 370px;
    color: #ababab;
    &-title{
        margin-bottom: 35px;
        font-size: 24px;
        color: #fff;
    }
    &-text{
        margin-bottom: 30px;
    }
    &-address{
        li{
            position: relative;
            padding-left: 40px;
        }
        li::before{
            content: '';
            position: absolute;
        }
        .address-email::before{
            background-image: url(../images/email.png);
            width: 17px;
            height: 11px;
            left: 0;
            top: 10px;
        }
        .address-location::before{
            background-image: url(../images/location.png);
            width: 10px;
            height: 17px;
            left: 2px;
            top: 5px;
        }
        
    }
    &-social{
        ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 200px;
            // margin: 0 auto;
        }
        li{
            width: 65px;
            margin-bottom: 30px;
            margin-left: 5px;
        }
        img{
            width: 100%;
        }
    }
    &-politics{
        a{
            font-size: 15px;
            line-height: 36px;
            color: #ababab;
        }
    }

}
.footer__item + .footer__item{
    .footer__item-title{
        margin-bottom: 55px;
    }
}
.footer__bottom{
    padding: 30px 0px 40px;
    background-color: #192027;
    &-text{
        text-align: center;
        color:#fff;
    }
}

//End footer

//Start login-page and register-page

.banner-path{
    background-color: #0674ec;
    min-height: 175px;
}
.banner-path__inner{
    padding: 45px 0px 40px;
    color: #fff;
    &-link{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
        span{
            color: #e8e9eb;
        }
    }
    &-name{
        font-size: 30px;
        font-weight: 500;
    }
}

.preform{
    padding: 100px 0px 80px;
    background-color: #eff1f5;
}
.preform__form{
    max-width: 570px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    min-height: 611px;
    &-header{
        padding: 50px 0px 30px;
        text-align: center;
        border-bottom: 1px solid #e8ebf0;
    }
    &-title{
        font-size: 26px;
        font-weight: 700;
        color: #000;
        margin-bottom: 23px;    
    }
    &-subtitle{
        max-width: 370px;
        margin: 0 auto;
    }
    form{
        padding: 30px 55px 40px;
        button{
            width: 190px;
            height: 50px;
            border: none;
            background-color: $bg;
            color: #fff;
            outline: none;
            border-radius: 25px;
            font-weight: 500;
            font-size: 15px;
            cursor: pointer;
        }
    }
    &-input-name{
        color: #000;
        font-weight: 500;
        margin-bottom: 6px;
    }
    &-input{
        margin-bottom: 30px;
        span {
            margin-left: 10px;
        }
        input[type="text"], input[type="password"], input[type="email"]{
            border: none;
            border-radius: 4px;
            width: 100%;
            padding: 0 20px;
            background-color: #f4f5f8;
            height: 50px;
            outline: none;  
            &:focus{
                border: 2px solid $bg;
            }
        }
    }
    &-help{
        padding: 0px 55px 35px;
        display: flex;
        justify-content: space-between;
        a{
            color: $bg;
        }
    }
    &-recovery{
        width: 215px;
    }
    &-auth{
        padding: 0px 55px 35px;
        a{
            color: $bg;
        } 
    }
}

//End login-page and register-page

// Start user-page

.user-page{
    background-color: #f4f6f5;
    color:#263238;
}
.user-page__inner{
    display: flex;
    padding: 110px 0px 115px;
}
.user-page__aside{
    margin-right: 30px;
}
.aside__item{
    background-color: #fff;
    border: 1px solid #dedede;
    width: 270px;
    margin-bottom: 35px;
}
.aside__title{
    padding: 20px 28px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 5px solid #03a9f4;
}
.conference__list, .profile__list{
    li{
        border-bottom: 1px solid #dedede; 
    }
    a{
       padding: 25px 30px;
       min-width: 100%;
       transition: all 0.4s;
    }
    a:hover{
        background-color: #fcfbfb;
    }
}
.ad-banner{
    padding: 0px;
    height: 270px;
    img {
        width: 100%;
    }
}
.user-page__content{
    width: 100%;
    background-color: #fff;
}

.no-conference{
    text-align: center;
    color: #000;
    &__img{
        margin: 80px 0px 30px;
    }
    &__title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    &__subtitle{
        font-size: 14px;
        margin-bottom: 30px;
    }
    &__button{
        width: 130px;
        color: #fff;
        background-color: #4aa2c3;
        padding: 15px 0px;
        line-height: 15px;
        font-size: 15px;
        font-weight: 500;
    }
}

.list-conference{
    &__title{
        padding: 45px 0px 25px 20px;
        font-weight: 500;
        font-size: 36px;
    }
    &__table{
        padding: 0px 20px;
        table {
            width: 100%;
            border-collapse: collapse;
            tr:not(:first-child):hover{
                background-color: #e8ebf0;
            }
            tr th{
                text-align: left;
                padding: 10px;
                border-bottom: 1px solid #e8ebf0;
            }
            tr td{
                font-size: 14px;
                padding: 5px 10px;
                border: 1px solid #e8ebf0;
            }
            a{
                color: #3f51b5;
            }
        }
    }
    &__pagination{
        padding: 25px 20px;
        .pagination__list{
            li{
                display: inline-block;
                & + li{
                  margin-left: 6px;
                }
            }
            a{
                box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
                width: 43px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                font-size: 16px;
                font-weight: 500;
                color: #000;
                &.active{
                    background-color: #e74c3c;
                    color: #fff;
                }
            }
        }
    }
}

.add-conference, .user-info, .user-setting{
    &__title{
        padding: 45px 0px 25px 20px;
        font-weight: 500;
        font-size: 36px;
    }
    &__form{
        padding: 20px 20px;
        &-name{
            color: #000;
            font-weight: 500;
            margin-bottom: 6px;
        }
        &-input{
            margin-bottom: 30px;
            input{
                border: none;
                border-radius: 4px;
                width: 100%;
                padding: 0 20px;
                background-color: #f4f5f8;
                height: 50px;
                outline: none;  
                &:focus{
                    border: 2px solid $bg;
                }
            }
            input[type="date"], input[type="time"] {
                max-width: 320px;
            }
        }
        button{
            width: 190px;
            height: 50px;
            border: none;
            background-color: $bg;
            color: #fff;
            outline: none;
            font-weight: 500;
            font-size: 15px;
            cursor: pointer;
        }
    }
}
.user-info__form{
    textarea{
        width: 100%;
        resize: none;
        border-radius: 4px;
        padding: 3px 5px;
        &:focus{
            outline: none;
            border: 2px solid $bg;
        }
    }
}
.user-info__form-inner{
    display: flex;
    &-left{
        max-width: 460px;
        flex-grow: 1;
        margin-right: 70px;
    }
    img{
        width: 140px;
        height: 140px;
        object-fit: cover;
    }
}
.user-setting{
    &__title{
        margin-bottom: 40px;
    }
    &__type-account{
        padding-left: 20px;
        font-style: italic;
    }
    &__type-account-title{
        padding-left: 20px;
        color: #000;
        font-weight: 500;
        margin-bottom: 10px;
    }
    a{
        margin: 10px 0px 0px 20px;
        text-align: center;
        padding-top: 10px;
        width: 190px;
        height: 50px;
        border: none;
        background-color: $bg;
        color: #fff;
        outline: none;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
    }
}

// End user-page

// Start room-page
.room-page{
    background-color: #f4f6f5;
}
.room-page__inner{
    display: flex;
    padding: 110px 0px 115px;
    justify-content: space-between;
}
.room-page__content{
    background-color: #fff;
    border: 1px solid #dedede;
    max-width: 840px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.content-video{
    width: 100%;
    text-align: center;
    padding: 50px 10px;
    img{
        width: 300px;
        height: 300px;
        //Редакт
        margin-bottom: 150px;
    }
}
.content-functions{
    text-align: center;
    width: 100%;
    background-color: #2196f3;
    padding: 20px 0px;
    ul li{
        display: inline-block;
        margin: 0 10px;
        border-radius: 50%;
        background: #fff;
        width: 65px;
        height: 65px;
    }
    a{
        width: inherit;
        height: inherit;
        display: flex;
    }
    img{
        width: 40px;
        height: 40px;
        align-self: center;
        margin: auto;
    }
}
.room-page__block{
    background-color: #fff;
    border: 1px solid #dedede;
    width: 300px;
    margin-bottom: 20px;
    &-title{
        padding: 24px 0px 24px 30px;
        font-size: 20px;
        font-weight: 700;
        color: #263238;
    }
}
.room-page__communicate{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.communicate-items{
    background-color: #fff;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    &-nav{
        display: flex;
        flex-wrap: wrap;
        background: #9ba8ba;
        margin: 0;
        border-bottom: 1px solid lightgray;
    }
    &-link{
        padding: 8px 12px;
        color: #fff;
        text-align: center;
        flex-shrink: 0;
        flex-grow: 1;
    }
    &-active{
        background: #4b79bb;
        cursor: default;
    }
    &-link:not(&-active):hover,
    &-link:not(&-active):focus {
      background-color: #a8b5c7;
    }
    &-content{
        padding: 5px 5px;
        display: flex;
    }
    &-pane {
        flex-grow: 1;
        display: none;
      }
  
    &-pane-show {
        display: block;
    }
}
.chat-input{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    border-top: 3px solid #2196f3;;
    textarea{
        resize: none;
        width: 100%;
    }
    a{
        padding: 5px 0px;
        text-align: center;
        width: 100%;
        font-size: 12px;
        color: #fff;
        background-color: #4b79bb;
    }
}

//End room-page