    <section class="welcome">
        <div class="container welcome-bg">
            <div class="welcome__inner">
                <div class="welcome__inner-title">
                    WhyTalk
                </div>
                <div class="welcome__inner-subtitle">
                    Средство для общения онлайн 
                </div> 
                <div class="welcome__inner-btn" >
                    <a href="#">
                        Опробовать бесплатно!
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <div class="features__inner">

                <div class="features__item">
                    <div class="features__item-img features__item-img-talk"></div>
                    <div class="features__item-title">
                        Общение
                    </div>
                    <div class="features__item-text">
                        Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque 
                        the mattis, leo quam aliquet diam
                        congue is laoreet elit metus.
                    </div>
                </div>
                <div class="features__item">
                    <div class="features__item-img features__item-img-business"></div>
                    <div class="features__item-title">
                        Бизнес - встречи
                    </div>
                    <div class="features__item-text">
                        Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque 
                        the mattis, leo quam aliquet diam
                        congue is laoreet elit metus.
                    </div>
                </div>
                <div class="features__item">
                    <div class="features__item-img features__item-img-webinar"></div>
                    <div class="features__item-title">
                        Вебинары
                    </div>
                    <div class="features__item-text">
                        Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque 
                        the mattis, leo quam aliquet diam
                        congue is laoreet elit metus.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="talking">
        <div class="container">
            <div class="talking__inner">
                <div class="talking__inner-box">
                    <div class="talking__inner-title">
                        Всё просто!
                    </div>
                    <div class="talking__inner-text">
                        Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque 
                        the mattis, leo quam aliquet diam
                        congue is laoreet elit metus.Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque 
                        the mattis, leo quam aliquet diam
                        congue is laoreet elit metus.
                    </div>
                </div>
                <div class="talking__inner-img">
                    <img src="images/talking.gif" alt="">
                </div>
            </div>
        </div>
    </section>