    <section class="banner-path">
        <div class="container">
            <div class="banner-path__inner">
                <div class="banner-path__inner-link">
                    Home  /  
                    <span>Register</span> 
                </div>
                <div class="banner-path__inner-name">
                    Регистрация
                </div>
            </div>
        </div>
    </section>

    <section class="preform">
        <div class="container">
            <div class="preform__inner">
                <div class="preform__form">
                    <div class="preform__form-header">
                        <div class="preform__form-title">Создание нового аккаунта</div>
                        <div class="preform__form-subtitle">
                            Регистрация предельно простая и займет у Вас
                            всего несколько минут
                        </div>   
                    </div>
                    <form action="">
                        <div class="preform__form-input-name">
                            Имя
                         </div>
                         <div class="preform__form-input">
                             <input type="text" placeholder="Введите имя..." required>
                         </div>
                         <div class="preform__form-input-name">
                            Фамилия
                         </div>
                         <div class="preform__form-input">
                             <input type="text" placeholder="Введите фамилию..." required>
                         </div>
                         <div class="preform__form-input-name">
                            Электронная почта 
                         </div>
                         <div class="preform__form-input">
                             <input type="email" placeholder="Email" required>
                         </div>
                        <div class="preform__form-input-name">
                            Пароль
                        </div>
                        <div class="preform__form-input">
                            <input type="password" placeholder="Введите пароль..." required>
                        </div>
                        <div class="preform__form-input-name">
                            Подтвердите пароль
                        </div>
                        <div class="preform__form-input">
                            <input type="password" placeholder="Введите пароль..." required>
                        </div>
                        <button type="submit">Зарегистрироваться</button>
                    </form>
                    <div class="preform__form-auth">
                            У вас уже есть аккаунт? <a href="">Авторизоваться</a> 
                    </div>
                </div>
            </div>
        </div>
    </section>