    <section class="room-page">
        <div class="container">
            <div class="room-page__inner">

                <div class="room-page__content">
                    <div class="content-video">
                        <img src="/images/webcam-icon.png" alt="">
                    </div>
                    <div class="content-functions">
                        <ul>
                            <li><a href="#"><img src="/images/camera.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/microphone.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/screen-share.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>

                <div class="room-page__communicate">
                    <div class="room-page__block">
                        <div class="room-page__block-title">
                            Комната
                        </div>
                    </div>  
                    <div class="communicate-items">
                        <div class="communicate-items-nav">
                            <a class="communicate-items-link js-communicate-items-link active" data-tab="1">Чат</a>
                            <a class="communicate-items-link js-communicate-items-link" data-tab="2">Участники</a>
                        </div>
                        <div class="communicate-items-content">
                            <div class="communicate-items-pane js-communicate-items-pane active" data-tab="1">
                                Содержимое 1...
                                <div class="chat-input">
                                    <textarea name="" id="" rows="2"></textarea>
                                    <a href="">Чтобы отправить сообщение, нажмите Enter &#10148;</a>
                                </div>
                            </div>
                            <div class="communicate-items-pane js-communicate-items-pane" data-tab="2">
                                Содержимое 2...
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>