    <section class="room-page">
        <div class="container">
            <div class="room-page__inner">

                <div class="room-page__content">
                    <div class="content-video">
                        <div class="content-video-grid">
                            {{!-- <video poster="/images/webcam-icon.png"></video> --}}
                        </div> 
                        
                        {{!-- <div><button class="content-video-start">Тест</button></div> --}}
                    </div>
                    <div class="content-functions">
                        <div class="content-functions-controls">
                            <div class="content-functions-camera"><img src="/images/video-solid.svg" alt=""><span>Камера вкл.</span></div>
                            <div class="content-functions-microphone"><img src="/images/microphone-solid.svg" alt=""><span>Микрофон вкл.</span></div>
                            <div class="content-functions-share"><img src="/images/screen-share.png" alt=""><span>Демонстрация</span></div>
                        </div>
                    </div>
                </div>

                <div class="room-page__communicate">
                    <div class="room-page__block">
                        <div class="room-page__block-title">
                            Комната
                        </div>
                        <div class="room-page__block-invite">
                            <img src="/images/user-plus-solid.svg" alt="">
                            <span>Пригласить</span>
                        </div>
                    </div>  
                    <div class="communicate-items">
                        <div class="communicate-items-nav">
                            <a class="communicate-items-link js-communicate-items-link active" data-tab="1">Чат</a>
                            <a class="communicate-items-link js-communicate-items-link" data-tab="2">Участники</a>
                        </div>
                        <div class="communicate-items-content">
                            <div class="communicate-items-pane js-communicate-items-pane active" data-tab="1">
                                <div class="chat-window"></div>
                                <div class="chat-input">
                                    <input type="text" class="chat-input-message"></input>
                                    <div class="chat-input-send">Чтобы отправить сообщение, нажмите Enter &#10148;</div>
                                </div>
                            </div>
                            <div class="communicate-items-pane js-communicate-items-pane" data-tab="2">
                                <div class="participants"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>