<div class="user-setting">
    <div class="user-setting__title">
        Настройки аккаунта
    </div>
    <div class="user-setting__type-account-title">
        Тип аккаунта:
    </div>
    <div class="user-setting__type-account">
        Начальный
    </div>
    <a href="#">Изменить</a>
</div>