    <section class="user-page">
        <div class="container">
            <div class="user-page__inner">

                <aside class="user-page__aside">

                    <div class="conference aside__item">
                        <div class="aside__title">
                            Конференции
                        </div>
                        <ul class="conference__list">
                            <li>
                                <a href="#">Список конференций</a>
                            </li>
                            <li>
                                <a href="#">Новая конференция</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="profile aside__item">
                        <div class="aside__title">
                            Профиль 
                        </div>
                        <ul class="profile__list">
                            <li>
                                <a href="#">Личная информация</a>
                            </li>
                            <li>
                                <a href="#">Настройки аккаунта</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="ad-banner aside__item">
                        <img src="/images/ad-banner.jpg" alt="">
                    </div>
    
                </aside>
    
                <div class="user-page__content">
                    <div class="no-conference" style="display: none;">
                        <div class="no-conference__img">
                            <img src="/images/no-conference-img.png" alt="">
                        </div>
                        <div class="no-conference__title">
                            Конференции не найдены
                        </div>
                        <div class="no-conference__subtitle">
                            Для появления списка конференций создайте новую
                        </div>
                        <a class="no-conference__button" href="#">Создать</a>
                    </div>

                    <div class="list-conference" style="display: none;">
                        <div class="list-conference__title">
                            Список конференций
                        </div>
                        <div class="list-conference__table">
                            <table>
                                <tr>
                                    <th>Название конференции</th>
                                    <th>Дата</th>
                                    <th>Время</th>
                                    <th>Редактировать</th>
                                    <th>Удалить</th>
                                </tr>
                                <tr>
                                    <td>TableData</td>
                                    <td>TableData</td>
                                    <td>TableData</td>
                                    <td><a href="#">редактировать</a></td>
                                    <td><a href="#">удалить</a></td>
                                </tr>
                                <tr>
                                    <td>TableData</td>
                                    <td>TableData</td>
                                    <td>TableData</td>
                                    <td><a href="#">редактировать</a></td>
                                    <td><a href="#">удалить</a></td>
                                </tr>
                                <tr>
                                    <td>TableData</td>
                                    <td>TableData</td>
                                    <td>TableData</td>
                                    <td><a href="#">редактировать</a></td>
                                    <td><a href="#">удалить</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="list-conference__pagination">
                            <ul class="pagination__list">
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                              </ul>
                        </div>
                    </div>

                    <div class="add-conference" style="display: none;">
                        <div class="add-conference__title">
                            Создание новой конференции
                        </div>
                        <div class="add-conference__form">
                            <form action="">
                                <div class="add-conference__form-name">
                                    Название конференции 
                                </div>
                                <div class="add-conference__form-input">
                                     <input type="text" placeholder="Введите (при желании) имя концеренции здесь ...">
                                </div>
                                <div class="add-conference__form-name">
                                    Дата начала 
                                </div>
                                <div class="add-conference__form-input">
                                    <input type="date">
                                </div>
                                <div class="add-conference__form-name">
                                    Время начала 
                                </div>
                                <div class="add-conference__form-input">
                                    <input type="time">
                                </div>
                                <button type="submit">Сохранить</button>
                            </form>
                        </div>
                    </div>

                    <div class="user-info" style="display: none;">
                        <div class="user-info__title">
                            Личная информация
                        </div>
                        <div class="user-info__form">
                            <form action="">
                                <div class="user-info__form-inner">
                                    <div class="user-info__form-inner-left">
                                        <div class="user-info__form-name">
                                            ФИО
                                        </div>
                                        <div class="user-info__form-input">
                                            <input type="text" placeholder="Введите ФИО...">
                                        </div>
                                        <div class="user-info__form-name">
                                            Имя пользователя
                                        </div>
                                        <div class="user-info__form-input">
                                            <input type="text" placeholder="Введите имя пользователя..." readonly>
                                        </div>
                                        <div class="user-info__form-name">
                                            Email
                                        </div>
                                        <div class="user-info__form-input">
                                            <input type="text" placeholder="Email" readonly>
                                        </div>
                                    </div>
                                    <div class="user-info__form-inner-right">
                                        <div class="user-info__form-name">
                                            Аватар
                                        </div>
                                        <img src="#" alt="">
                                        <div class="user-info__form-file">
                                            <input type="file">
                                        </div>
                                    </div>
                                </div>
                                <div class="user-info__form-name">
                                    О себе
                                    <div class="user-info__form-textarea">
                                        <textarea name="" rows="8"></textarea>
                                    </div>
                                </div>
                                <button type="submit">Сохранить</button>
                            </form>
                        </div>
                    </div>

                    <div class="user-setting">
                        <div class="user-setting__title">
                            Настройки аккаунта
                        </div>
                        <div class="user-setting__type-account-title">
                            Тип аккаунта:
                        </div>
                        <div class="user-setting__type-account">
                            Начальный
                        </div>
                        <a href="#">Изменить</a>
                    </div>

                </div>

            </div>
        </div>
    </section>