<div class="user-info">
    <div class="user-info__title">
        Личная информация
    </div>
    <div class="user-info__form">
        <form action="">
            <div class="user-info__form-inner">
                <div class="user-info__form-inner-left">
                    <div class="user-info__form-name">
                        Имя
                    </div>
                    <div class="user-info__form-input">
                        <input type="text" placeholder="Введите имя..." required>
                    </div>
                    <div class="user-info__form-name">
                        Фамилия
                    </div>
                    <div class="user-info__form-input">
                        <input type="text" placeholder="Введите фамилию..." required>
                    </div>
                    <div class="user-info__form-name">
                        Email
                    </div>
                    <div class="user-info__form-input">
                        <input type="text" placeholder="Email" readonly>
                    </div>
                </div>
                <div class="user-info__form-inner-right">
                    <div class="user-info__form-name">
                        Аватар
                    </div>
                    <img src="#" alt="">
                    <div class="user-info__form-file">
                        <input type="file">
                    </div>
                </div>
            </div>
            <div class="user-info__form-name">
                О себе
                <div class="user-info__form-textarea">
                    <textarea name="" rows="8"></textarea>
                </div>
            </div>
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>